/* ===== PALETA SOBRIA PREMIUM HOTEL MARMOL AZUL OSCURO ===== */
:root{
  --primary-dark: #040404;               
  --accent-copper: #bcb2b2;              
  --accent-copper-gradient: linear-gradient(45deg, #020202, #fbbf24);
  --bg-light: #f3f4f6;                    
  --text-light: #000000;                  
  --text-dark:  #060606;                   
}

/* ===== HTML Y BODY CON FONDO AZUL OSCURO ===== */
html, body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-light);
  /* Fondo gris */
  background: 
    radial-gradient(circle at 20% 20%, #dddcdc, transparent 50%),
    radial-gradient(circle at 80% 80%, rgb(180, 174, 174), transparent 50%),
    #a2adc7; /* base */
  background-blend-mode: overlay, overlay;
  background-attachment: fixed;
}

/* ===== APP ROOT ===== */
app-root {
  display: block;
  min-height: 100%;
  padding: 20px;
}

/* ===== CONTENEDOR ===== */
.container{
  padding: 25px;
  max-width: 1200px;
  margin: auto;
}

/* ===== TARJETAS SOBRIAS ===== */
.card, .srh-panel{
  background: #ffffff;
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 4px 12px rgba(255, 252, 252, 0.06);
  border: none;
  color: var(--text-dark);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover, .srh-panel:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 16px #ffffff9d;
}

/* ===== PANEL PRINCIPAL ===== */
.srh-panel{
  border-left: 5px solid var(--accent-copper);
}

/* ===== TITULOS ===== */
h1{
  font-size: 2.6rem;
  font-weight: 700;
}
h2{
  font-size: 2.0rem;
  font-weight: 600;
}
h3{
  font-size: 1.5rem;
  font-weight: 500;
}
h1, h2, h3{
  color: var(--text-light);
}

/* ===== COLOR ESPECÍFICO PARA ACCESOS RAPIDOS ===== */
.accesos-rapidos {
  color: #ffffff !important;
}

/* ===== TEXTO ===== */
p{
  color: var(--text-light);
  font-size: 16px;
  line-height: 1.7;
}

/* ===== TABLAS SOBRIAS ===== */
table{
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  color: var(--text-dark);
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

th{
  background: var(--accent-copper-gradient);
  color: #b1bdd9;
  padding: 14px;
  text-align: left;
}

td{
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover{
  background: #cfd6f1; /* hover sutil azul claro */
  transition: background 0.25s ease;
}

/* ===== BOTONES SOBRIOS ===== */
button{
  background: var(--accent-copper-gradient);
  color: #f9fbff;
  border: none;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 5px 14px rgba(248, 245, 241, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(219,115,18,0.4);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px){
  .container { padding: 15px; }
  table, th, td { font-size: 13px; }
  button { padding: 11px 16px; }
}